body {
    font-family: Inter,system-ui,Avenir,Helvetica,Arial,sans-serif;
    background-image: url(bg.png);
    color: #ffffffde;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    background-color: black;
    /* make the text more readable on dark background */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
    margin: 0;
    padding: 0 1rem;
    
}

